/*Couleur a utiliser:
    
    Vert tres clair: rgba(197,219,161,1)
    Vert clair(logo) : rgba(133,188,47,1)
    
    Blanc: rgba(244,244,244,1)
    Noir: rgba(27,27,27,1)
    
    Gris foncé: rgba(82,82,82,1)
    Gris clair: rgba(112,112,112,1)
       
    */










body
{
	margin-top: 0;
	width: 1000px;
	margin: 0 auto;
    background-image:  url(Body.jpg);
	background-size: 100%;
    border-top-left-radius: 60px;
    box-shadow: 0px 0px 140px 15px rgba(0,0,0,0.75);

}












/*------------- HEADER ---------------*/












header
{
background-image: url(Pariscontact.jpg);
background-size: 110%;
width: auto;
background-position-y: -150px;
height: 462px;
overflow: hidden;
margin-top: 50px;
border-top-left-radius: 60px;
}

header ul
{
	margin-top: 25px;
	width: 900px;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
	display: flex;
}


header li
{
	list-style: none;
	padding-bottom: 0;
	height: 50px;
}

header li a.Button
{
	display: block;
	height: 43px;
	font-size: 2em;
	padding-right: 20px;
	padding-left: 20px;
	text-decoration: none;
	color: rgba(197,219,161,1);
	font-family: 'Lato', serif;
	font-size: 25px;	
	padding-top: 7px;	
}

header li a:hover.Button
{
	display: block;
	height: 43px;
	font-size: 2em;
	padding-right: 20px;
	padding-left: 20px;
    padding-bottom:  0px;
	text-decoration: none;
	color: rgba(133,188,47,1);
	font-family: 'Lato', serif;
	font-size: 25px;	
	padding-top: 7px;
    border-bottom: solid 5px rgba(133,188,47,1);
}


#Logo
{
	height: 3em;
	vertical-align: bottom;
    margin-right: 225px;
}














/*--------------- MAIN ------------*/

main
{
	   background-color: rgba(82, 82,82,0.8);
    font-family: 'Roboto' !important;
 	font-style: normal;	
  	font-weight: 300;
    color:  rgba(10,10,10,1);
}

main h2{
    padding: 25px;
	font-size: 50px;
	margin-bottom: 70px;
	margin-top: 0;
	padding-left: 40px;
	padding-top: 40px;
	color: rgba(244,244,244,1);
	border-bottom : 1px solid rgba(244,244,244,1);
	width: 600px;
}

main .Contact
{
	display:flex;
    width:  900px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}

main .Contact img
{
	
	float:left;
    height: 400px;
	
}

main .Contact ul
{
	font-size:1.05em;
	font-family: 'Roboto' !important;
	color:white;
	
	
}


main .Equipe
{
    background-color: rgba(63, 63,63,0.8);
}

main .Bandeau
{
	width: 800px;
    display:  flex;
    margin-left:  auto;
    margin-right:  auto;
    padding-bottom:  50px;
}

main .Bandeau .Personne
{
    width:  200px;
    margin-left:  auto;
    margin-right:  auto;
}

main .Bandeau .Personne img
{
 	
	width:150px;
	padding-top:20px;
	padding-bottom:20px;
    margin-left: 25px;
}

main .Bandeau .Personne h1
{
    color:  rgba(244,244,244,1);
    font-size: 35px;
	border-bottom : 1px solid rgba(244,244,244,1);
    text-align:  center;
    padding-bottom:  10px;
}


main .Bandeau .Personne h3
{
    color:  rgba(244,244,244,1);
    font-size: 25px;    
    text-align:  center;	
}



main .Text
{
	display:flex;
    width:  900px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom:  50px;
}

main .Text p
{

	font-size:1.05em;
	font-family: 'Roboto' !important;
	padding-bottom:20px;
	margin-bottom:0;
	padding-left:50px;
	padding-right:50px;
	color:white;
}











/*---------------- FOOTER ------------------*/












footer {

    border-top:  5px solid rgba(133,188,47,1);
color: rgba(244,244,244,1);
    background-color: rgba(63,63,63,1);
    margin-bottom: 50px;
    font-family: 'Roboto' !important;
    font-style: normal;
    font-weight: 300;
}

footer #Mention {
    margin-left:  auto;
	margin-right: auto;
	width: 900px;
	display: flex;
    font-size: 15px;
}

footer #Mention p {
	margin: 0;
	padding: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-bottom: 20px;
}


footer #Mention a {
	border-left : 1px solid rgba(244,244,244,1);
	padding: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-bottom: 20px;
	text-decoration: none;
	color: white;
}

footer #Mention a:hover {
	border-left : 1px solid rgba(244,244,244,1);
	padding: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-bottom: 20px;
	text-decoration: none;
	color: rgba(200,200,200,1);
}




footer #Liens {
    height: 100px;
    margin-left: 120px;
}

footer img {
    height: 50px;
    padding: 30px;
}

